<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.longnguyen.inkdiary"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.onyx.permission.DEVICE_CONTROL" />

    <application
        android:name=".DiaryApplication"
        android:allowBackup="true"
        android:label="Ink Diary"
        android:theme="@style/Theme.InkDiary"
        android:supportsRtl="true"
        tools:replace="android:label">

        <!-- Tell Boox firmware to allow this app to use high-speed refresh modes -->
        <meta-data android:name="onyx_screen_update_mode" android:value="1" />
        <meta-data android:name="com.onyx.android.sdk.api.device.epd.EpdController.UpdateMode" android:value="1" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:label="History"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DailyDetailActivity"
            android:label="Conversation Detail"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SummaryActivity"
            android:label="Summary"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>
