<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.onyx.permission.DEVICE_CONTROL" />

    <application
        android:allowBackup="true"
        android:label="Ink Diary"
        android:theme="@style/Theme.InkDiary"
        android:supportsRtl="true"
        tools:replace="android:label">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:label="History"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DailyDetailActivity"
            android:label="Conversation Detail"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>
